@font-face {
    font-family: "Flaticon";
    src: url("./assets/icons/Flaticon.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

.fi:before {
    display: inline-block;
    font-family: "Flaticon";
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-decoration: inherit;
    text-rendering: optimizeLegibility;
    text-transform: none;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    font-smoothing: antialiased;
    display: block;
    font-size: 2rem;
    line-height: 1;
}

.flaticon-bar-dotted-stats:before { content: "\f100"; }
.flaticon-business-bars-graphic:before { content: "\f101"; }
.flaticon-business-stats:before { content: "\f102"; }
.flaticon-chemical-diagram:before { content: "\f103"; }
.flaticon-circle-with-irregular-grid-lines:before { content: "\f104"; }
.flaticon-dots-graphic:before { content: "\f105"; }
.flaticon-pie-chart-stats:before { content: "\f106"; }
.flaticon-radar-chart:before { content: "\f107"; }

$font-Flaticon-bar-dotted-stats: "\f100";
$font-Flaticon-business-bars-graphic: "\f101";
$font-Flaticon-business-stats: "\f102";
$font-Flaticon-chemical-diagram: "\f103";
$font-Flaticon-circle-with-irregular-grid-lines: "\f104";
$font-Flaticon-dots-graphic: "\f105";
$font-Flaticon-pie-chart-stats: "\f106";
$font-Flaticon-radar-chart: "\f107";

#step3 {
    overflow-y: visible;

    .ant-collapse-content-box {
        padding: 0rem 0rem 0rem 0rem;
    }
}