#left-pane {
    width: 90%;
    margin-bottom: 1rem;

    .tab1 {
        #chart-types {
            margin-bottom: 1rem;

            .ant-row {
                &:last-child {
                    .type {
                        margin-bottom: 0rem !important;
                    }
                }

                .ant-col-6 {
                    &:last-child {
                        .type {
                            margin-right: 0rem;
                        }
                    }
                }
            }
        }
    }

    .tab2 {
        & .data-paneless-control:first-of-type {
            margin-top: 0rem;
        }
        .ant-collapse-content {
            padding-bottom: 0.9rem;
        }

        .data-panel-control {
            &:first-of-type {
                margin-top: 0.9rem;
            }

            &:last-of-type {
                margin-bottom: 0rem;
            }

            &:after {
                content: "";
                display: table;
                clear: both;
            }
        }
    }

    .data-control-label {
        float: left;
        width: 3.6rem;
        font-size: 0.8rem;
        margin-top: 0.25rem;
    }

    .data-panel-control {
        margin-left: 8px;
        margin-bottom: 0.6rem;
        width: auto;
        display: block;

        &:last-of-type {
            margin-bottom: 0.9rem;
        }

        .data-control-label {
            width: 6rem;
            margin-top: 0.1rem;
        }

        .data-control-element {
            padding: 0.6rem 0rem;
        }
    }

    .data-paneless-control {
        margin: 1rem 0rem;

        .data-control-input,
        .data-control-select {
            float: right;
            width: calc(100% - 4rem);
        }

        .data-control-label {
            width: 3.9rem;
            margin-top: 0.25rem;
            margin-left: 0.1rem;

            &#subtype {
                width: 3.5rem;
            }
        }
    }

    .data-panel-control .data-control-label {
        transition: all 0.2s ease;
    }

    .data-panel-control:hover .data-control-label {
        font-weight: bold;
    }

    .ant-row, .ant-collapse {
        width: calc(100% - 2px);
        margin-left: 1px;
    }

    .ant-select-dropdown {
        width: 100%;
    }

    .ant-tree li a {
        transition: all 0.2s ease;

        &:hover {
            background-color: inherit;
            font-weight: bold;
        }

        &.ant-tree-node-selected {
            background-color: initial;
        }
    }

    .ant-slider {
        margin-top: 1rem;
        margin-bottom: 1rem;
    }
}
