.type {
    margin-right: 0.26rem;
    margin-bottom: 0.26rem;
    padding: 0.6rem 0rem 0.2rem 0rem;
    text-align: center;
    border: 1px solid #d9d9d9;
    border-radius: 3px;
    cursor: pointer;

    &:hover:not(.selected) {
        border-color: #2db7f5;
    }

    &.selected {
        background-color: #fafafa;
        box-shadow: 0 2px 2px rgba(0,0,0,.2);
    }

    span {
        display: block;
        margin-top: 0.1rem;
    }
}