#step4 {
    display: flex;
    flex-direction: column;
    justify-content: center;

    .export-form {
        margin: 0rem auto 2rem auto;
        max-width: 27rem;
        min-width: 23rem;

        .ant-form-item {
            margin-bottom: 0.8rem;
        }

        .export-button {
            width: 100%;
        }
    }
}