.spinner {
    margin: 0rem auto;
    zoom: 2;
    text-align: center;
    display: block;
    font-size: 0.5rem;

    .ant-spin-dot {
        position: relative;
        margin: 0rem auto 1rem auto;
    }
}