@import "../../../../containers/App/mixins.scss";

.filter {
    margin-top: 0.5rem;

    .ant-input-group {
        text-align: center;
    }

    .filters {
        @include flex-center;

        margin-top: 0.25rem;
    }
}

.ant-select-dropdown {
    width: auto !important;
}