#step2 {
    display: flex;
    flex-direction: column;
    transition: none !important;

    .strong {
        font-weight: bold;
    }

    .hide {
        display: none;
    }

    .alignRight {
         text-align: right;
    }

    .reactPivot {
        padding: 0px 20px 20px;
        margin-top: 0px;
        box-shadow: none;

        .reactPivot-columnControl {
            position: relative;
            top: -1.5rem;
            margin-bottom: -1.5rem;
        }

        .reactPivot-results {
            * {
                transition-property: none !important;
                transform: none !important;
                animation: none !important;
            }

            .reactPivot-table {
                    overflow-x: auto;
                    width: 100% !important;

                table {
                    width: calc(100% - 0.6rem);
                    padding-top: 1.5rem;
                    clear: both;
                    text-align: left;
                    border-spacing: 0;

                    tbody {
                        overflow-x: auto;
                    }

                    th {
                        padding-bottom: 0.5rem;
                        padding-left: 5px;

                        &.asc:after, &.desc:after {
                            opacity: 0.5;
                            font-size: 0.7rem;
                            margin-top: 1px;
                            width: 0rem;
                            height: 0rem;
                            display: inline-block;
                        }

                        &.asc:after {
                            content: ' ▲';
                        }

                        &.desc:after {
                            content: ' ▼';
                        }
                    }

                    tr {
                        &:hover td {
                            background: #fbfbfb;
                        }

                        &:hover td.reactPivot-indent {
                            background: none;
                        }
                    }

                    td {
                        border-top: 1px solid #ddd;
                        padding: 3px;
                        font-weight: 400;
                        font-size: 0.7rem;

                        &:hover .tag-solo {
                            opacity: 1 !important;
                        }

                        &.reactPivot-indent {
                            border: none;
                        }

                        .ant-tag {
                            margin: 0px 0px 0px 0.5rem;
                        }
                    }
                }
            }
        }

        .reactPivot-csvExport {
            button {
                background-color: #FFF;
                border: 1px solid #CCC;
                height: 28px;
                color: #555;
                cursor: pointer;
                padding: 0 10px;
                border-radius: 4px;
                margin-top: 5px;
            }

            &, .reactPivot-columnControl {
                float: right;
                margin-left: 5px;
            }
        }

        .reactPivot-paginate {
            display: flex;
            align-items: center;
            justify-content: center;
            margin-top: 1rem;
        }

        .reactPivot-pageNumber {
            padding: 2px;

            &:hover {
                font-weight: bold;
            }

            &.is-selected {
                font-weight: bold;
            }
        }
    }

    .ant-tabs-bar {
        margin-bottom: 5px;
    }
}

.spinner {
    display: flex;
    flex-direction: column;
    justify-content: center;
}