#step2 {
    .strong {
        font-weight: bold;
    }

    .hide {
        display: none;
    }

    .alignRight {
         text-align: right;
    }

    .reactPivot {
        padding: 0px 20px 20px;
    }

    .reactPivot-soloDisplay {
        padding: 5px;
        display: inline-block;
        margin-top: -2px;
        margin-left: 3px;
    }

    .reactPivot-clearSolo {
        cursor: pointer;
        font-size: 120%;
        margin-right: 2px;
    }

    .reactPivot select {
        color: #555;
        height: 28px;
        border: none;
        margin-right: 5px;
        background-color: #FFF;
        border: 1px solid #CCC;
    }

    .reactPivot-results {
        table {
            width: 100%;
            padding-top: 1.5rem;
            clear: both;
            text-align: left;
            border-spacing: 0;
        }

        th {
            font-weight: bold;
            padding-bottom: 0.5rem;

            &:hover .reactPivot-hideColumn {
                opacity: 0.5;
            }

            &.asc:after, &.desc:after {
                opacity: 0.5;
            }

            &.asc:after {
                content: ' ▲';
            }

            &.desc:after {
                content: ' ▼';
            }
        }

        tr {
            &:hover td {
                background: #fbfbfb;
            }

            &:hover td.reactPivot-indent {
                background: none;
            }
        }

        td {
            border-top: 1px solid #ddd;
            padding: 5px;
            font-weight: 200;

            &:hover .tag-solo {
                opacity: 1 !important;
            }

            &.reactPivot-indent {
                border: none;
            }

            .ant-tag {
                margin: 0px 0px 0px 0.5rem;
            }
        }

        .reactPivot-hideColumn {
            opacity: 0;
            margin-right: 3px;
            font-size: 1rem;
            line-height: 0.5rem;

            &:hover {
                font-weight: bold;
                cursor: pointer;
            }
        }
    }

    .reactPivot-csvExport {
        button {
            background-color: #FFF;
            border: 1px solid #CCC;
            height: 28px;
            color: #555;
            cursor: pointer;
            padding: 0 10px;
            border-radius: 4px;
            margin-top: 5px;
        }

        &, .reactPivot-columnControl {
            float: right;
            margin-left: 5px;
        }
    }

    .reactPivot-dimensions {
        float: left;
        text-align: left;
    }

    .reactPivot-paginate {
        margin-top: 1rem;
    }

    .reactPivot-pageNumber {
        padding: 2px;

        &:hover {
            font-weight: bold;
        }

        &.is-selected {
            font-weight: bold;
        }
    }

    .select {
        min-width: 7rem;
    }

    .ant-tabs-bar {
        margin-bottom: 5px;
    }
}

.ant-select {
    margin-top: 5px;
    margin-right: 5px;
}

.ant-select-dropdown {
    width: auto !important;
}

.ant-select-dropdown-menu-item-disabled, .ant-select-dropdown-menu-item-disabled:hover  {
    font-weight: bold;
    cursor: default;
}