#app {
    @font-face {
        font-family: anticon;
        src: url('https://at.alicdn.com/t/font_uzv8nkw1nabgldi.eot');
        src: url('https://at.alicdn.com/t/font_uzv8nkw1nabgldi.eot?#iefix') format('embedded-opentype'), url('https://at.alicdn.com/t/font_uzv8nkw1nabgldi.woff') format('woff'), url('https://at.alicdn.com/t/font_uzv8nkw1nabgldi.ttf') format('truetype'), url('https://at.alicdn.com/t/font_uzv8nkw1nabgldi.svg#iconfont') format('svg')
    }

    .anticon {
        display: inline-block;
        font-style: normal;
        vertical-align: baseline;
        text-align: center;
        text-transform: none;
        text-rendering: auto;
        line-height: 1;
        text-rendering: optimizeLegibility;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale
    }

    .ant-collapse {
        background-color: #fafafa;
    }

    @-moz-document url-prefix() {
        .ant-collapse {
            margin-bottom: 1px;
        }
    }
}