.picker {
    margin: 0rem auto;

    .ant-transfer-list {
        min-width: 20rem;
        max-width: 30rem;
        width: 30vw;
        height: 35vh;
        padding-top: 0px;

        .ant-transfer-list-header {
            display: none;
        }
    }

    .ant-transfer > div:last-of-type {
        .ant-transfer-list-body {
            padding-top: 0rem;
        }

        .ant-transfer-list-body-search-wrapper {
            height: 0rem;
            display: none;
        }
    }
}